* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(61, 48, 48);
}

#canvas {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 30%;
}